:root {

}
body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}
/* Убрали маркеры неупорядоченого списка */
.list {
  list-style: none;
}
/* Убираем декорацыю текста */
.link {
  text-decoration: none;
}
/* Ссылка с логотипом */
.logo .accent {
  color: #2196F3;
}
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  Line-height: 1.19;
}
/* Ссылка с логотипом футер*/
.logo-footer .accent {
  color: #2196F3;
}
.logo-footer {
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  Line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Список навигации */
.navigation-list .link {
  font-weight: 500;
  Line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;
}
.navigation-list .link:hover,
.navigation-list .link:focus {
  color: #2196F3;
}
.navigation-list .current {
  color: #2196F3;
}
 /* Список контактов */
 .contacts-list .email {
  font-weight: 500;
  Line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-list .email:hover,
.contacts-list .email:focus {
  color: #2196F3;
}
.contacts-list .phone {
  color: #757575;
}
.contacts-list .phone:hover,
.contacts-list .phone:focus {
  color: #2196F3;
}
 /* Список контактов футера*/
 .contacts-list .email-footer {
  font-weight: 400;
  Line-height: 1.71;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list .email-footer:hover,
.contacts-list .email-footer:focus {
  color: #2196F3;
}
 .contacts-list .phone-footer {
  color: #FFFFFF;
}
.contacts-list .phone-footer:hover,
.contacts-list .phone-footer:focus {
  color: #2196F3;
}
/* Заглавие */
.title {
  font-weight: 900;
  font-size: 44px;
  Line-height: 1.36;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}
/* Кнопка заказа услуги и фильтр из списка кнопок портфолио*/
.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color:#2196F3;
}
/* Кнопка заказа услуги */
.btn-button {
  font-weight: 700;
  font-size: 16px;
  Line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Кнопки фильтров из списка кнопок портфолио*/
.button-list-button {
  font-weight: 500;
  font-size: 16px;
  Line-height: 1.62;
  text-align: center;
}
/* Приемущества работы */
.subtitle-priority {
  font-weight: 700;
  Line-height: 1.17;
}
/* Текстовый контент к приемуществам работы */
.text {
  font-weight: 400;
  Line-height: 1.71;
  color: #757575;
}
/* Чем мы занмаемся */
.subject {
  font-weight: 700;
  font-size: 36px;
  Line-height: 1.17;
}
/* Наша команда */
.heading {
  font-weight: 700;
  font-size: 36px;
  Line-height: 1.17;
}
/* Список имен представителей нашей команди */
.items {
  font-weight: 500;
  font-size: 16px;
  Line-height: 1.17;
}
/* Должности представителей нашей команды */
.position {
  font-weight: 400;
  font-size: 16px;
  Line-height: 1.17;
  color: #757575;
}
/* Контент фильтрующигося списком портфолио */
.content {
  font-weight: 700;
  font-size: 18px;
  Line-height: 2;
  letter-spacing: 0.06em;
}
/* Направление контента фильтрующигося списком портфолио */
.content-direction {
  font-weight: 400;
  font-size: 16px;
  Line-height: 1.87;
  color: #757575;
}
/* Почтовый адрес */
.office {
  font-weight: 400;
  Line-height: 1.71;
  color: #FFFFFF;
}
.office:hover,
.office:focus {
  color: #2196F3;
}

