.body {
  font-family: "Raleway", sans-serif;

  background-color: #e5e5e5;
}
/* цвет основного текста*/

.logo {
  font-family: "Roboto", sans-serif;
}
.logo-accent {
  color: 2196f3;
}
.site-nav:focus {
  color: 2196f3;
}
.auth-nav:hover,
.auth-nav:focus {
  color: 2196f3;
}
.button:focus {
  color: 2196f3;
}
